==
<!-- Footer -->
    <footer class="hun-section-footer hun-footer layoutsdata">
		<div class="content-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-xl-4">
						<div class="widget">
							<h3 class="title-widget">
								About Academical.ly
							</h3>

							<div class="text-widget">
								<p style="max-width: 309px;">
									Spring House, Good Earth Business Bay, Sector 58, Gurugram, Haryana 122102
								</p>

								<p class="m-b-30">
									Phone: <a href="#">(+91) 8879390101</a>
									<br>
									Email: <a href="#">hello@academical.ly</a>
								</p>

								<div class="hun-element-social--type-1 ">
									<a href="https://twitter.com/academical_ly" class="social-link"><i class="fa fa-twitter"></i></a>
									<a href="https://www.facebook.com/AcademicallyOfficial/" class="social-link"><i class="fa fa-facebook"></i></a>
									<a href="https://www.instagram.com/academical.ly" class="social-link"><i class="fa fa-instagram"></i></a>
									<a href="https://in.pinterest.com/academical_ly/" class="social-link"><i class="fa fa-pinterest-p"></i></a>
									<a href="https://www.youtube.com/channel/UCsUWo6J6cEQpeMpwOmP-JKw" class="social-link"><i class="fa fa-youtube-play"></i></a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-3 col-xl-2">
						<div class="widget">
							<h3 class="title-widget">
								Links
							</h3>

							<div class="text-widget">
								<ul>
									<li><a href="{{ 'aboutus'|page }}">Company</a></li>
									<li><a href="{{ 'blog'|page }}">Blog</a></li>
									<li><a href="{{ 'career'|page }}">Careers</a></li>
									<li><a href="{{ 'casestudies'|page }}">Case Studies</a></li>
									<li><a href="{{ 'pricing'|page }}">Pricing</a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-3 col-xl-2">
						<div class="widget">
							<h3 class="title-widget">
								Help
							</h3>

							<div class="text-widget">
								<ul>
									<li><a href="{{ 'casestudies'|page }}">Clients</a></li>
									<li><a href="{{'contactus'|page }}">Contact Us</a></li>
									<li><a href="https://help.academical.ly">Support</a></li>
									<li><a href="https://help.academical.ly">FAQs</a></li>
									<li><a href="#" id="chat-with-us">Chat with Us</a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-lg-6 col-xl-4">
						<div class="widget">
							<h3 class="title-widget">
								Newsletter
							</h3>

							<div class="text-widget">
								<div class="subscribe-form-01">
									<div class="description-form">
										Get weekly updates & offers
									</div>

									<form>
										<input type="text" placeholder="email@example.com">

										<button>
											Submit
										</button>
									</form>

									<div class="note-form">
										We'll never share your email address
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="copyright-footer">
			<div class="container">
				<div class="content-copyright">
					<div class="col-left">
						Copyright 2020 © Academical.ly 2020 All rights reserved
					</div>

					<div class="col-right">
						 Made with &#10084;&#65039; in India</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- end Footer -->
