==
<?php
function onStart()
{
    $this['backendUrl'] = Backend::url('/');
}
?>
==
<header class="hun-section-header hun-header layout-1 style-overlay text-light align-left style-sticky use-text-logo">
        <div class="container-header">
            <div class="wrap-element-stick">
                <div class="wrapper-header element-for-stick">
                    <div class="container">
                        <div class="logo-header">
                            <a href="{{ 'homepage'|page }}" class="text-logo">Academical.ly</a>
                        </div>
                        
                        <nav class="main-navigation">
                            <ul class="list-menu">
                                <li class="menu-item">
                                    <a href="{{ 'homepage'|page }}">
                                        Home
                                    </a>
                                </li>
                                
                                <li class="menu-item">
                                    <a href="{{ 'features'|page }}">
                                        Features
                                    </a>
                                </li>
                                
                                <li class="menu-item">
                                    <a href="{{ 'how-it-works'|page }}">
                                        How it works
                                    </a>
                                    
                                    
                                </li>

                                <li class="menu-item">
                                    <a href="{{ 'pricing'|page }}">
                                        Pricing
                                    </a>
                                </li>

                                <li class="menu-item menu-item-has-children">
                                    <a href="#">
                                        More
                                    </a>

                                    <ul class="sub-menu">
                                        
                                        
                                        <li class="menu-item">
                                            <a href="{{ 'casestudies'|page }}">Case Studies</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="{{ 'blog'|page }}">Blog</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="{{ 'career'|page }}">Career</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="{{ 'aboutus'|page }}">About Us</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="{{ 'contactus'|page }}">Contact Us</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        
                        <div class="group-feature">
                            <div class="buttons-header">
                                <a href="https://demo.academical.ly" target="_blank" class="hun-button size-small shape-round style-fill-color hover-light">
                                    Demo Academy
                                </a>
                            </div>
                            
                            <div class="hun-menu-mobile">
                                <a href="#" class="btn-toggle-menu"><span></span></a>
                                
                                <div class="mobile-navigation">
                                    <nav class="mobile-menu">
                                        <ul class="list-menu">
                                            <li class="menu-item">
                                                <a href="/">
                                                    Home
                                                </a>
                                            </li>
                                            
                                            <li class="menu-item">
                                                <a href="features.html">
                                                    Features
                                                </a>
                                            </li>
                                            
                                            <li class="menu-item">
                                                <a href="#">
                                                    How it works
                                                </a>
                                                
                                                
                                            </li>

                                            <li class="menu-item">
                                                <a href="pricing-plans.html">
                                                    Pricing
                                                </a>
                                            </li>
                                            
                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">
                                                    More
                                                </a>

                                                <ul class="sub-menu">
                                                    <li class="menu-item">
                                                        <a href="{{ 'casestudies'|page }}">Case Studies</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="{{ 'blog'|page }}">Blog</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="career.php">Career</a>
                                                    </li>
                                                    
                                                    <li class="menu-item">
                                                        <a href="about.html">About Us</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="contact.html">Contact Us</a>
                                                    </li>
                                            </li>
                                        </ul>
                                    </nav>                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header> 
    <!-- end Header -->