==
<!-- Card -->
<div class="hun-section-card layouts2 p-t-120 p-b-100">
		<div class="inner-section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-10 pb-0">
						<div class="hun-element-heading--type-1 align-center m-b-75">
							<h3 class="title">
                            Academical.ly In Use
							</h3>

							<div class="description">
                            Checkout some of the awesome academies setup on Academical.ly by awesome academicians & subject matter experts like you. Best part is they make money when they sleep. Do you?

							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-6 col-lg-4 wow zoomIn" data-wow-delay="0.2s">
						<div class="item-card">
							<div class="inner-card" style="background-image: url({{ 'assets/css/images/card-01.jpg'|theme }});">
								<span class="brand">
									<img src="
									{{ 'assets/css/images/icons/brand-01-w.png'|theme }}" alt="IMG">
								</span>

								<h4 class="title-card">
                                Blockchain Council
								</h4>
							</div>

							<a href="blockchain-council.php" class="link-card"></a>
						</div>
					</div>

					<div class="col-md-6 col-lg-4 wow zoomIn" data-wow-delay="0.4s">
						<div class="item-card">
							<div class="inner-card" style="background-image: url({{ 'assets/css/images/card-03.jpg'|theme }});">
								<span class="brand">
									<img src="{{ 'assets/css/images/brand-02-w.png'|theme }}" alt="IMG">
								</span>

								<h4 class="title-card">
                                Tosh Academy
								</h4>
							</div>

							<a href="tosh-academy.php" class="link-card"></a>
						</div>
					</div>

					<div class="col-md-6 col-lg-4 wow zoomIn" data-wow-delay="0.6s">
						<div class="item-card">
							<div class="inner-card" style="background-image: url({{ 'assets/css/images/card-02.jpg'|theme }});">
								<span class="brand">
									<img src="{{ 'assets/css/images/icons/brand-03-w.png'|theme }}" alt="IMG">
								</span>

								<h4 class="title-card">
                                Kopper Academy
								</h4>
							</div>

							<a href="kopper-academy.php" class="link-card"></a>
						</div>
					</div>

					
				</div>
			</div>
		</div>
	</div>
	<!-- end Card -->