==
<!-- Card -->
	<div class="hun-section-card layoutsdata set-bg-light style-2 p-t-120 p-b-100">
		<div class="inner-section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-10 pb-0">
						<div class="hun-element-heading--type-1 align-center m-b-75">
							<h3 class="title">
								Academical.ly In Use
							</h3>

							<div class="description">
								Checkout some of the awesome academies setup on Academical.ly by awesome academicians & subject matter experts like you. Best part is they make money when they sleep. Do you?
							</div>
						</div>
					</div>
				</div>

				<div class="row justify-content-center">
					<div class="col-md-10 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
						<div class="item-card">
							<div class="pic-card">
								<a href="case-detail.html"><img src="{{ 'assets/css/images/card-01.jpg'|theme }}" alt="IMG"></a>

								<span class="brand">
									<img src="{{ 'assets/css/images/icons/brand-01.png'|theme }}" alt="IMG">
								</span>
							</div>

							<div class="text-card">
								<h4 class="title-card">
									<a href="blockchain-council.php">Blockchain Council</a>
								</h4>

								<div class="description-card">
									Blockchain Council is world's leading Blockchain Certification company.
								</div>

								<a href="blockchain-council.php" class="link-card">
									Read more
								</a>
							</div>
						</div>
					</div>

					<div class="col-md-10 col-lg-4 wow fadeInUp" data-wow-delay="0.4s">
						<div class="item-card">
							<div class="pic-card">
								<a href="case-detail.html"><img src="{{ 'assets/css/images/card-03.jpg'|theme }}" alt="IMG"></a>

								<span class="brand">
									<img src="{{ 'assets/css/images/icons/brand-02.png'|theme }}" alt="IMG">
								</span>
							</div>

							<div class="text-card">
								<h4 class="title-card">
									<a href="tosh-academy.php">Tosh Academy</a>
								</h4>

								<div class="description-card">
									Personal academy of a subject matter expert.
								</div>

								<a href="tosh-academy.php" class="link-card">
									Read more
								</a>
							</div>
						</div>
					</div>

					<div class="col-md-10 col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
						<div class="item-card">
							<div class="pic-card">
								<a href="case-detail.html"><img src="{{ 'assets/css/images/card-02.jpg'|theme }}" alt="IMG"></a>

								<span class="brand">
									<img src="{{ 'assets/css/images/icons/brand-03.png'|theme }}" alt="IMG">
								</span>
							</div>

							<div class="text-card">
								<h4 class="title-card">
									<a href="kopper-academy.php">Kopper Academy</a>
								</h4>

								<div class="description-card">
									Financial & Investment Strategies & Learning Academy.
								</div>

								<a href="kopper-academy.php" class="link-card">
									Read more
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end Card -->