==
<!-- Blog -->
	<div class="hun-section-blog layoutsdata p-t-120 p-b-100">
		<div class="inner-section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-10 pb-0">
						<div class="hun-element-heading--type-1 align-center m-b-75">
							<h3 class="title">
								From Our Blog
							</h3>

							<div class="description">
								Check our latest article about the democratizing learning, launching your own academy & school, creating powerfull content.
							</div>
						</div>
					</div>
				</div>

				<div class="row justify-content-center">
					<div class="col-md-10 col-lg-4">
						<div class="hun-element-post--type-1">
							<div class="pic-post">
								<a href="blog-detail.html"><img src="{{ 'assets/css/images/post-07.jpg'|theme }}" alt="IMG"></a>

								<span class="date-post">
									25 Jun 2020
								</span>
							</div>

							<div class="text-post">
								<h4 class="title-post">
									<a href="blog-detail.html">What is democratizing the education means?</a>
								</h4>

								<div class="description-post">
									What does it mean to democratization of the learning & knowledge content.
								</div>

								<a href="blog-detail.html" class="link-post">
									Read more
								</a>
							</div>

							<div class="info-post">
								<span class="item-info">
									<i class="ion-ios-person"></i> 
									<a href="#">Toshendra Sharma</a>
								</span>

								<span class="item-info">
									<i class="ion-android-folder-open"></i>
									<a href="#">Democratizing</a>, <a href="#">Content</a>
								</span>
							</div>
						</div>
					</div>

					<div class="col-md-10 col-lg-4">
						<div class="hun-element-post--type-1">
							<div class="pic-post">
								<a href="blog-detail.html"><img src="{{ 'assets/css/images/post-02.jpg'|theme }}" alt="IMG"></a>

								<span class="date-post">
									25 Jun 2020
								</span>
							</div>

							<div class="text-post">
								<h4 class="title-post">
									<a href="blog-detail.html">12 top tips to up your sales</a>
								</h4>

								<div class="description-post">
									Learn 12 best tips to sell better & make more money.
								</div>

								<a href="blog-detail.html" class="link-post">
									Read more
								</a>
							</div>

							<div class="info-post">
								<span class="item-info">
									<i class="ion-ios-person"></i> 
									<a href="#">Diana Henry</a>
								</span>

								<span class="item-info">
									<i class="ion-android-folder-open"></i>
									<a href="#">Sale</a>, <a href="#">Content</a>
								</span>
							</div>
						</div>
					</div>

					<div class="col-md-10 col-lg-4">
						<div class="hun-element-post--type-1">
							<div class="pic-post">
								<a href="blog-detail.html"><img src="{{ 'assets/css/images/post-08.jpg'|theme }}" alt="IMG"></a>

								<span class="date-post">
									1 July 2020
								</span>
							</div>

							<div class="text-post">
								<h4 class="title-post">
									<a href="blog-detail.html">What are Peer-to-Peer Academies?</a>
								</h4>

								<div class="description-post">
									Peer-to-peer academies are the bunch of academies which helps each other grow by sharing each others content.
								</div>

								<a href="blog-detail.html" class="link-post">
									Read more
								</a>
							</div>

							<div class="info-post">
								<span class="item-info">
									<i class="ion-ios-person"></i> 
									<a href="#">Pradeep Aswal</a>
								</span>

								<span class="item-info">
									<i class="ion-android-folder-open"></i>
									<a href="#">P2P</a>, <a href="#">Academy</a>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end Blog -->