==
<!-- FAQ -->
	<div class="hun-section-faq layoutsdata set-bg-dark p-t-120 p-b-10">
		<div class="inner-section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-10 pb-0">
						<div class="hun-element-heading--type-1 text-light align-center m-b-75">
							<h3 class="title">
								Answers And Questions
							</h3>

							<div class="description">
								Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a mauris vitae elit. Class aptent taciti litora torquent per idunt auctor a ornare odio.
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-7 p-b-120">
						<div class="hun-element-accordion--type-1">
							<div class="accordion-list js-call-accordion">
								<div class="item-list js-dropdown active-dropdown">
									<h4 class="title-item js-toggle-dropdown">
										How to Purchase Extend Licence of this Product?
									</h4>

									<div class="description-item js-dropdown-content">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										</p>
									</div>
								</div>

								<div class="item-list js-dropdown">
									<h4 class="title-item js-toggle-dropdown">
										How browsing and membership works
									</h4>

									<div class="description-item js-dropdown-content">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										</p>
									</div>
								</div>

								<div class="item-list js-dropdown">
									<h4 class="title-item js-toggle-dropdown">
										How to Manage your Own Dashboard?
									</h4>

									<div class="description-item js-dropdown-content">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										</p>
									</div>
								</div>

								<div class="item-list js-dropdown">
									<h4 class="title-item js-toggle-dropdown">
										Can I upgrade later on?
									</h4>

									<div class="description-item js-dropdown-content">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										</p>
									</div>
								</div>

								<div class="item-list js-dropdown">
									<h4 class="title-item js-toggle-dropdown">
										Can my company request a custom plan?
									</h4>

									<div class="description-item js-dropdown-content">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-5 p-b-120 pl-lg-5">
						<div class="hun-element-form--type-1">
							<form>
								<label>
									<span class="name-field">
										Your Name
									</span>

									<input type="text" placeholder="Type here">
								</label>

								<label>
									<span class="name-field">
										Your Email
									</span>

									<input type="text" placeholder="info@example.com">
								</label>

								<label>
									<span class="name-field">
										Your Question
									</span>

									<textarea></textarea>
								</label>

								<button>
									Send Question
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end FAQ -->