==
<!-- Pricing Plans -->
	<div class="hun-section-pricing-plans layoutsdata set-bg-dark p-t-120 p-b-100">
		<div class="inner-section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-10 pb-0">
						<div class="hun-element-heading--type-1 align-center m-b-75">
							<h3 class="title">
								Choose Your Plan
							</h3>

							<div class="description">
								That's the catch. There is no payment plan which you need since you don't have to pay anything upfront. Hence no credit card or payment required.
							</div>
						</div>
					</div>
				</div>

				<div class="row align-items-end justify-content-center">
					<div class="col-md-10 col-lg-4 wow fadeInUp" data-wow-delay="0.4s">
						<div class="item-pricing feature-item">
							<div class="head-item">
								<h3 class="title-pricing">
									Basic
								</h3>

								<div class="price-pricing">
									<span class="currency">$</span>0
								</div>

								<div class="info-pricing">
									Per academy, per month
								</div>
							</div>

							<div class="body-item">
								<ul class="list-options">
									<li class="yes">Unlimited Courses</li>
									<li class="yes">Unlimited Students</li>
									<li class="yes">Unlimited Enrollments</li>
									<li class="yes">Use your Own Domain</li>
									<li class="yes">Free SSL Certificate</li>
									<li class="yes">Free Automatic Backups</li>
									<li class="yes">10% Commission On Every Sale</li>
								</ul>
							</div>

							<div class="buttons-pricing">
								<a href="#" class="button">
									Get Basic
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end Pricing Plans -->