==
<!-- Testimonial -->
	<div class="hun-section-testimonial layouts2 p-t-120 p-b-75">
		<div class="inner-section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-10">
						<div class="hun-element-heading--type-1 align-center m-b-75">
							<h3 class="title">
								Customers Say
							</h3>

							<div class="description">
								Some of the awesome teachers, academicians, trainers have launched their academy with academical.ly & love it some much. Check what they have to say.
							</div>
						</div>
					</div>
				</div>

				<div class="wrap-testimonial">
					<div class="slide-text js-call-slick" data-animate="false">
						<div id="text-tes-01" class="slide-slick" data-slick='{"asNavFor": "#ava-tes-01", "centerMode": true, "centerPadding": "0px", "focusOnSelect": true, "adaptiveHeight": false, "fade": false, "speed": 500, "dots": false, "arrows": true, "autoplay": false, "autoplaySpeed": 5000, "infinite": true, "slidesToShow": 1, "slidesToScroll": 1}'>

							<div class="item-slick">
								<div class="inner-item">
									<div class="content-tes" data-appear="fadeInUp" data-delay="0">
										“Loved it. So fast & easy to use. My students love it too. Able to accelerate my sales from 10k to 100k in one month.”
									</div>

									<div class="star-tes" data-appear="zoomIn" data-delay="600">
										<i class="ion-android-star"></i>
										<i class="ion-android-star"></i>
										<i class="ion-android-star"></i>
										<i class="ion-android-star"></i>
										<i class="ion-android-star"></i>
									</div>

									<div class="author-tes" data-appear="zoomIn" data-delay="1200">
										<span class="name-author">Toshendra</span> - Blockchain Expert
									</div>
								</div>
							</div>

							<div class="item-slick">
								<div class="inner-item">
									<div class="content-tes" data-appear="fadeInUp" data-delay="0">
										“Multi Academy Network is a powerful innovation helped me in serving more content to my students than what I had.”
									</div>

									<div class="star-tes" data-appear="zoomIn" data-delay="600">
										<i class="ion-android-star"></i>
										<i class="ion-android-star"></i>
										<i class="ion-android-star"></i>
										<i class="ion-android-star"></i>
										<i class="ion-android-star"></i>
									</div>

									<div class="author-tes" data-appear="zoomIn" data-delay="1200">
										<span class="name-author">Sanjeev Malhotra</span> - Photography
									</div>
								</div>
							</div>

							<div class="item-slick">
								<div class="inner-item">
									<div class="content-tes" data-appear="fadeInUp" data-delay="0">
										“Democratizing the academic & learning content is the most important thing in current time. Education needs to be accessible & reachable. Congrats to the team for this mission.”
									</div>

									<div class="star-tes" data-appear="zoomIn" data-delay="600">
										<i class="ion-android-star"></i>
										<i class="ion-android-star"></i>
										<i class="ion-android-star"></i>
										<i class="ion-android-star"></i>
										<i class="ion-android-star"></i>
									</div>

									<div class="author-tes" data-appear="zoomIn" data-delay="1200">
										<span class="name-author">Manish</span> - Developer
									</div>
								</div>
							</div>

							
						</div>
					</div>

					<div class="slide-ava js-call-slick" data-animate="false">
						<div id="ava-tes-01" class="slide-slick" data-slick='{"asNavFor": "#text-tes-01", "centerMode": true, "centerPadding": "0px", "focusOnSelect": true, "fade": false, "speed": 500, "dots": false, "arrows": false, "autoplay": false, "autoplaySpeed": 5000, "infinite": true, "slidesToShow": 3, "slidesToScroll": 1}'>

							<div class="item-slick">
								<div class="wrap-ava">
									<img src="{{ 'assets/css/images/tes-01.jpg'|theme }}" alt="IMG">
								</div>
							</div>

							<div class="item-slick">
								<div class="wrap-ava">
									<img src="{{ 'assets/css/images/tes-02.jpg'|theme }}" alt="IMG">
								</div>
							</div>

							<div class="item-slick">
								<div class="wrap-ava">
									<img src="{{ 'assets/css/images/tes-04.jpg'|theme }}" alt="IMG">
								</div>
							</div>

							<div class="item-slick">
								<div class="wrap-ava">
									<img src="{{ 'assets/css/images/tes-03.jpg'|theme }}" alt="IMG">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end Testimonial -->