==
<!-- Video -->
	<div class="hun-section-video layouts2">
		<div class="inner-section">
			<div class="bg-video" style="background-image: url({{ 'assets/css/images/bg-02.jpg'|theme }});"></div>

			<div class="container">
				<div class="content-video">
					<div class="row">
						<div class="col-md-8 col-lg-6">
							<div class="text-video">
								<h3 class="title-video">
									Check how easy & quick it is to start your own academy
								</h3>

								<div class="description-video">
									You can do it under 5-10 minutes. Not much work required.
								</div>
							</div>

							<div class="buttons-video js-call-magnificpopup">
								<a class="btn-play mfp-iframe js-open-popup" href="https://www.youtube.com/watch?v=UalTfOIDQ7M">
									<i class="ion-play"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end Video -->