==
<!-- Video -->
	<div class="hun-section-video layoutsdata">
		<div class="inner-section">
			<div class="bg-video parallax100"><span class="inner-parallax" style="background-image: url({{ 'assets/css/images/bg-01.jpg'|theme }});"></span></div>

			<div class="container">
				<div class="content-video">
					<div class="buttons-video js-call-magnificpopup">
						<a href="https://www.youtube.com/watch?v=UalTfOIDQ7M" class="btn-play mfp-iframe js-open-popup ">
							<i class="ion-play"></i>
						</a>
					</div>

					<div class="text-video">
						<h3 class="title-video max-w-600">
							Check out how it works? how easy & fast it is to setup as well as manage an academy.
						</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end Video -->